.card {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 94%;
    margin: 20px auto 0px;
    padding: 15px;
    background-color: nth($white, 1);
    z-index: 5;

    @include mq(tablet) {
        text-align: left;
    }
}