.footer {
    display: grid;
    height: 87px;
    justify-content: center;
    align-items: center;
    font-family: $font-first;
    font-weight: $fw-bold;
    letter-spacing: 3px;
    background-color: nth($green, 2);
    color: nth($white, 1)
}