.nav {
  position: fixed;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  width: 100%;
  min-height: 52px;
  top: 0%;
  left: 0%;
  z-index: 10;
  font-size: map-get($fs, xl);
  font-family: $font-first;
  color: nth($white, 1);
  font-weight: bold;
  transform: translateY(10px);
  transition: transform 0.6s ease-in-out;



  @include mq(tablet) {
    min-height: 70px;
    padding: 0px 25px;
    box-sizing: border-box;
  }

  @include mq(desktop) {
    width: 90%;
    max-width: 1100px;
    left: 50%;
    transform: translate(-50%, 20px);
    font-size: map-get($fs, xxs);
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: nth($green, 2);
    z-index: -1;
    opacity: 0;
    transform: scaleY(1.4);
    transition: opacity 0.2s linear, transform 0.2s linear;


    @include mq(tablet) {
      transition: opacity 0.2s 0.35s linear, transform 0.2s linear;
    }

    @include mq(desktop) {
      position: fixed;
      left: 50%;
      width: 100vw;
      transform: translateX(-50%) scaleY(1.4);
    }
  }

  &--scrolled {
    transform: translateY(0px);

    @include mq(desktop) {
      transform: translate(-50%, 0px) scaleY(1);
    }

    &::after {
      opacity: 1;
      transform: scaleY(1);

      @include mq(tablet) {
        transition: opacity 0.2s 0s linear, transform 0.2s linear;
      }

      @include mq(desktop) {
        transform: translate(-50%, 0px) scaleY(1);
      }

    }
  }


  &__logo {
    position: relative;
    height: 32px;
    width: 30px;
    overflow: hidden;
    margin: 10px;
    overflow: hidden;

    @include mq(tablet) {
      width: auto;
      height: 38px;

      &::after {
        content: '';
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0%;
        left: 35px;
        background-color: nth($green, 2);
        z-index: 1;
        transform: translateX(500px);
        transition: transform 0.6s ease;

        @include mq(desktop) {
          width: 80%;
        }
      }

      @at-root .nav--scrolled .nav__logo {
        &::after {
          transform: translateX(0px);
        }
      }
    }

    &-image {
      max-height: 100%;
    }
  }

  &__button {
    justify-self: end;
    padding: 6px 14px;
    color: nth($white, 1);
    cursor: pointer;
    z-index: 11;
    line-height: 0px;

    @include mq(desktop) {
      display: none;
    }

    &--white {
      color: nth($blue, 2);
    }

    &-element {
      height: 25px;
      width: 19px;
      padding: 0px;
      border: none;
      font-size: 22px;
      background-color: transparent;
      color: inherit;
      cursor: pointer;

      @include mq(tablet) {
        font-size: 32px;
      }
    }
  }

  &__list-wrapper {
    &::after {
      content: '';
      position: absolute;
      background-color: nth($black, 3);
      width: 100%;
      height: calc(100vh + 10px);
      top: 0%;
      left: 0%;
      opacity: 0;
      transition: opacity 0.4s ease;
      visibility: hidden;
      z-index: 1;
      transform: translateY(-10px);

      @include mq(desktop) {
        display: none;
      }
    }


    &--active {
      &::after {
        visibility: visible;
        opacity: 1;

        @include mq(desktop) {
          display: none;
        }
      }
    }
  }

  &__list {
    position: absolute;
    width: 90%;
    height: 100vh;
    right: 0%;
    top: 0%;
    padding-top: 60px;
    transform: translate(100%, -10px);
    transition: transform 0.6s ease;
    z-index: 10;
    background-image: linear-gradient(180deg, #0e1e24 4%, #3a5a50);
    ;

    @include mq(tablet) {
      padding-top: 130px;
      width: 60%;
    }

    @include mq(desktop) {
      position: relative;
      display: flex;
      height: auto;
      width: auto;
      justify-content: flex-end;
      padding-top: 0px;
      transform: translateX(0px);
      background-image: none;
    }

    &--active {
      transform: translate(0%, -10px);

      @include mq(desktop) {
        transform: translate(0px);
      }
    }



    &-element {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0%;
        width: 42px;
        height: 3px;
        background-color: nth($blue, 1);
        opacity: 0;
        transform: translate(calc(-40% + 20px), -50%);
        transition: all 0.3s 0.4s linear;

        @include mq(tablet) {
          width: 60px
        }

        @include mq(desktop) {
          display: none;
        }
      }

      @at-root .nav__list--active .nav__list-element--active {
        &::after {
          transform: translate(-40%, -50%);
          opacity: 1;
        }
      }
    }
  }

  &__link {
    display: block;
    padding: 10px;
    padding-left: 60px;
    text-decoration: none;
    color: inherit;

    @include mq(desktop) {
      padding: 0px 20px;
    }
  }
}