.about {
    &__information {}

    &__headline {
        margin-bottom: 20px;
    }

    &__title {}

    &__paragraph {}

    &__button {
        margin: 20px auto 15px;
    }

    &__image-wrapper {
        transform: translateY(-30px);
        margin-bottom: -30px;
    }

    &__image {
        display: block;
        max-width: 100%;
    }

    &__statistic {}
}