.awards {
    text-align: center;
    padding: 10px 30px;
    margin-bottom: 40px;
    background-color: nth($white, 1);

    @include mq(tablet) {
        padding: 240px 30px 80px;
    }

    @include mq(desktop) {
        padding: 310px 30px 80px;
    }

    &__title {}

    &__headline {
        @include mq(tablet) {
            padding: 0px 70px;
        }

        @include mq(desktop) {
            display: block;
            max-width: 500px;
            margin: 0px auto;
        }
    }

    &__groups {
        @include mq(tablet) {
            display: flex;
            flex-wrap: wrap;
        }

        @include mq(desktop) {
            max-width: 1150px;
            margin: 0px auto 40px;
        }
    }

    &__group {
        margin: 25px auto;

        @include mq(tablet) {
            flex-basis: 20%;
        }

        &--active {
            .awards__hash {
                color: nth($green, 1);
            }
        }
    }

    &__group-text {
        max-width: 100px;
        font-size: map-get($fs, s);
        font-weight: $fw-bold;
        color: nth($black, 4);
        margin: 0px auto;

        @include mq(tablet) {
            max-width: 85%;
        }
    }

    &__image-wrapper {
        margin: 5px 10px;

        @include mq(tablet) {
            height: 100px;
        }
    }

    &__image {}

    &__hash {
        font-size: map-get($fs, xxxl);
        font-weight: $fw-medium;
        color: nth($black, 2);

        @include mq(tablet) {
            display: block;
            margin-bottom: 20px;
        }
    }
}