.header {
    position: relative;
    width: 100%;
    min-height: 100vh;

    overflow: hidden;
    text-align: center;
    color: nth($white, 1);

    &__baner {
        position: absolute;
        width: 100%;
        min-height: 100vh;
        left: 0%;
        top: 0%;
        z-index: -1;

        &-image {
            position: absolute;
            max-height: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__title {
        margin-top: 60px;
        font-size: map-get($fs, s);
        font-weight: $fw-bold;
        font-family: $font-first;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    &__headline {}

    &__paragraph {
        margin: 20px;
        font-family: $font-first;
        letter-spacing: 0.2px;
    }



    &__button-invide {
        width: 240px;
        height: 42px;
        margin: 10px auto;
    }

    &___button-arrow {
        padding: 13px;
    }

    &__button-arrow-element {
        display: block;
        margin: 10px auto;
    }
}