.join {
    @include mq(tablet) {
        width: 75%;
        margin: 65px 0px 0px 25px;
    }

    &__title {}

    &__headline {}

    &__paragraph {
        margin-top: 20px;

    }

    &__button {
        margin: 10px auto;

        @include mq(tablet) {
            margin: 25px 0px;
            padding: 20px 85px;
        }
    }
}