$fs: (xxs: 0.9rem,
  xs: 1.4rem,
  s: 1.5rem,
  m: 1.8rem,
  l: 2.1rem,
  xl: 2.4rem,
  xxl: 3.2rem,
  xxxl: 3.8rem,
);

$fw-bold: 700;
$fw-medium: 500;
$fw-regular: 400;

$breakPoints: (mobile: '(min-width: 460px)',
  tablet: '(min-width: 400px)',
  desktop: '(min-width:1024px)',
  large: '(min-width:1200px)',
  xlarge: '(min-width:1400px)',
);
//base-colors
$white: #ffffff;
$black: #000000;

$green: (rgba(63, 174, 73, 1));
$blue: (rgba(30, 48, 102, 1), rgba(30, 48, 102, 1));
$gray: (rgba(255, 255, 255, 0.7));

$font-first: 'Raleway';
$font-second: 'Millunium Medium';