@import './settings/variables';
@import './settings/mixins';
@import './settings/reset';
@import './settings/topography';
@import './settings/fonts';

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: $fw-bold;
  background-color: white;
  margin: 0px;
  padding: 0px;
  letter-spacing: 1px;
  overflow-x: hidden;
  font-family: $font-second;
}
